<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AIO taller mecanico en montevideo, Estacionamiento 24 horas y mas">
    <meta name="keywords" content="Taller mecanico, taller mecanico montevideo, taller mecanico cerca de mi, estacionamiento 24 horas, venta de neumaticos">
    <meta name="author" content="All In One">
    <title>AIO - Taller, neumáticos, reservas y más</title>

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('ico/logo-positivo.ico') }}">
    <style>
        @font-face {
            font-family: 'Teachers';
            src: url("{{ asset('font/Teachers-VariableFont_wght.ttf') }}") format('truetype');
            font-weight: normal;
            font-style: normal;
        }
      
        body, input, select, button, option {
            font-family: 'Teachers', sans-serif;
        }

           .btn{
            background-color: #dc2626
        }

        .btn:hover{
            background-color: #b91c1c
        }
    </style>
</head>
        {% include 'partials/header.html.twig' %}

<body class="min-h-screen flex flex-col">

    <section class="mb-8 w-full max-w-[980px] p-6 bg-white rounded-[14px] border border-black flex flex-col justify-center items-center gap-6">
            <h2 class="text-[#161212] text-2xl md:text-3xl lg:text-4xl font-bold text-center">¡Reserva un horario en nuestro taller!</h2>
             <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
                    <div class="w-full px-4 text-center text-white text-3xl md:text-4xl lg:text-5xl font-semibold mb-4">Reservar</div>
                    <submit class="duration-300 btn cursor-pointer w-full max-w-xs text-center text-white text-2xl md:text-3xl lg:text-4xl font-semibold py-2 px-4 rounded" onclick="location.href='{{ path('bookService') }}'">Reservar</submit>                </div>
                </div>
    </section>

           {% include 'partials/footer.html.twig' %}

</body>
</html>