<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AIO taller mecanico en montevideo, Estacionamiento 24 horas y mas">
    <meta name="keywords" content="Taller mecanico, taller mecanico montevideo, taller mecanico cerca de mi, estacionamiento 24 horas, venta de neumaticos">
    <meta name="author" content="All In One">
    <title>AIO - Taller, neumáticos, reservas y más</title>

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('ico/logo-positivo.ico') }}">
    <style>
        @font-face {
            font-family: 'Teachers';
            src: url("{{ asset('font/Teachers-VariableFont_wght.ttf') }}") format('truetype');
            font-weight: normal;
            font-style: normal;
        }
      
        body, input, select, button, option {
            font-family: 'Teachers', sans-serif;
        }

        .btn {
            background-color: #dc2626
        }

        .btn:hover {
            background-color: #b91c1c
        }
    </style>
</head>

<body class="bg-white min-h-screen flex flex-col">
    {% include 'partials/header.html.twig' %}

    <main class="w-full px-4 pt-10 bg-white flex flex-col items-center m-12 gap-10 flex-grow">
        <section class="mb-8 w-full max-w-[980px] p-6 bg-white rounded-[14px] border border-black flex flex-col justify-center items-center gap-6">
            <h2 class="text-[#161212] text-2xl md:text-3xl lg:text-4xl font-bold text-center">¿Necesitas un servicio mecánico?</h2>
            <p class="text-[#161212] text-xl md:text-2xl font-semibold text-center">En AIO ofrecemos diversos servicios mecánicos. Realiza tu reserva en línea y nos encargaremos de tu vehículo.</p>
            
            <a href="{{ path('bookService') }}" class="w-full max-w-[300px] h-[60px] duration-300 btn text-neutral-50 text-xl md:text-2xl lg:text-3xl font-bold rounded-[10px] flex items-center justify-center">
                Reservar
            </a>
        </section>
    </main>

    {% include 'partials/footer.html.twig' %}
</body>
</html>