<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIO - Taller, neumaticos, reservas y más</title>
  <link rel="stylesheet" href="../../../css/styles.css">
  <link rel="icon" type="image/x-icon" href="../../../ico/logo-positivo.ico">
</head>
<style>
  @font-face {
    font-family: 'Teachers';
    src: url('../../../font/Teachers-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
  }

  /* Apply the 'Teachers' font to all text elements */
  body,
  input,
  select,
  button,
  option {
    font-family: 'Teachers', sans-serif;
  }
</style>

<body class="justify-center items-center h-700px flex">
  <div class="mx-auto bg-white flex-col justify-center items-center gap-[23px] inline-flex top-2 pt-3">
    <div
      class="top-2 mx-auto w-[830px] h-[707px] py-[42px] bg-white rounded-3xl border border-black flex-col justify-center items-center gap-[34px] flex">
      <div
        class="relative top-0 left-0 w-full h-[92px] rounded-md flex-col justify-start ml-10 items-start gap-[5px] flex">
        <a href="index.php?action=login"> <img class="w-[30px] h-[30px]" src="../../../svg/icon.svg"></a>
      </div>
      <div class="w-[310px] h-36 justify-center items-center inline-flex">
        <img class="w-[310px] h-36" src="../../../img/AIO Positivo.png" />
      </div>
      <div class="w-[592px] h-[226px] flex-col justify-start items-center gap-[18px] flex">
        <div class="w-[92px] h-[92px] rounded-md flex-col justify-center items-center gap-[5px] flex">
          <img class="w-[40px] h-[49px] " src="../../../svg/Vector.svg" />
        </div>
        <div class="w-[564px] h-[82px] text-center text-black text-[34px] font-semibold  leading-[31px] tracking-wide">
          Ingresa tu correo electronico y te enviaremos las instrucciones para cambiar tu contraseña</div>
      </div>
      <form class="CorreoContra" action="" class="flex items-center justify-center ">
        <div class="h-[72px] relative  ">
          <input id="mail" type="email" placeholder="Correo"
            class="space-x-6  p-2 w-[595.41px] h-[72px]  text-[#2f353c] text-[22px] font-normal   tracking-wide bg-white rounded-md border border-[#2f353c]   text-left">
        </div>
        <div name="contenedor submit" class="flex justify-center items-center space-y-4  mt-6">
          <input type="submit" value="Recuperar cuenta"
            class=" justify-center items-center w-[500px] h-[60px] px-2.5 py-1.5 bg-[#2D2525] rounded-md   gap-1.5 inline-flex text-neutral-50 text-2xl font-medium  leading-[28.80px]">
        </div>
      </form>
    </div>
  </div>
</body>

</html>