<!DOCTYPE html>
<html lang="en">
<head>
  <!--IMPORTANTEEEE SI se edita el diseno escribir en la terminal de el visual "npm run dev" hay que tener node.js instalado--> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../../public/css/styles.css" rel="stylesheet">  
</head>
<style>
  @font-face {
      font-family: 'Teachers';
      src: ('sigae/public/font/Teachers-VariableFont_wght.ttf');
      font-weight: normal;
      font-style: normal;
  }

  /* Apply the 'Teachers' font to all text elements */
  body, input, select, button, option {
      font-family: 'Teachers', sans-serif;
  }
</style>
<body>
        <div name="Contenedor" class=" w-[900px]  h-[800px]  bg-white rounded-3xl border borders-black flex-col justify-center items-center  flex  mx-auto">
          <div class="relative w-full rounded-md flex-col justify-start ml-10 items-start flex">
            <a href="loginDesktop.html">   <img class="w-[30px] h-[30px]" src="../../../public/svg/icon.svg"></a>
               </div>
            <div name="LOGO" class=" w-[310px] h-36 justify-center items-center inline-flex">
            <img class="w-[310px] h-36" src="../../../public/img/AIO Positivo.png" />
          </div>
            <div name="Contenedor Campos" class="flex-col top-5 gap-[22px] float-left relative">
                <form class="CorreoContra" action="" class="flex items-center justify-around top-0 left-0 right-0" method="">
                    <div class="h-[52px]   ">
<!--INPUT PARA MAIL--><input id="correo" type="mail" placeholder="Correo" class="space-x-6  p-2 w-[595.41px] h-[50px]  text-[#2f353c] text-[22px] font-normal  tracking-wide bg-white rounded-md border border-[#2f353c]   text-left">
                </div>
                <div class="h-[52px]  ">
<!--INPUT PARA NOMBRE--><input id="Nombre" type="text" placeholder="Nombre" class="space-x-6  p-2 w-[595.41px] h-[50px]  text-[#2f353c] text-[22px] font-normal tracking-wide bg-white rounded-md border border-[#2f353c]   text-left">                     
                </div>
                <div class="h-[52px]  ">
<!--INPUT PARA APELLIDO--><input id="Apellido" type="text" placeholder="Apellido" class="space-x-6  p-2 w-[595.41px] h-[50px]  text-[#2f353c] text-[22px] font-normal   tracking-wide bg-white rounded-md border border-[#2f353c]   text-left">                     
                </div>   
                <div class="h-[52px]  ">
<!--INPUT PARA CONTRASEÑA--><input id="Contra" type="password" placeholder="Contraseña" class="space-x-6  p-2 w-[595.41px] h-[50px]  text-[#2f353c] text-[22px] font-normal   tracking-wide bg-white rounded-md border border-[#2f353c]   text-left">                     
                                </div>            
                <div class="h-[52px]  ">
<!--INPUT PARA CONTRASENA--><input id="RepetirContrasena" type="password" placeholder="Repetir contraseña" class="space-x-6  p-2 w-[595.41px] h-[50px]  text-[#2f353c] text-[22px] font-normal   tracking-wide bg-white rounded-md border border-[#2f353c]   text-left">
              </div>
          <div name="contenedor submit" class="space-y-4">
 <!--Enviar--> <input type="submit" value="iniciar sesion" class=" w-[595.41px] h-12 px-2.5 py-1.5 bg-[#950d03] rounded-md  items-center gap-1.5 inline-flex text-neutral-50 text-2xl font-medium  leading-[28.80px]">
              </div>
            </form>
            </div>
          <div name="contenedor2" class="flex w-[595.41px] origin-left float-left bottom-5">
<!--Link a olvidaste tu contrasena--><a name="olvidaste tu contra" href="other_file.html" class="text-left float-left text-[#545f71] text-base font-normal  underline">¿Olvidaste tu contraseña?</a>
        </div>
            <div class="w-[614px] h-12 px-2.5 py-1.5 bg-[#950d03] rounded-md justify-center items-center gap-1.5 inline-flex">
              <div class="text-right text-neutral-50 text-2xl font-medium  leading-[28.80px]">Continuar con Google</div>
            </div>
          </div>
        </div>
      </div>

</html>