<footer class="w-screen bg-[#514e4e] text-white py-12">
    <style>
        @font-face {
            font-family: 'Teachers';
            src: url('sigae/public/font/Teachers-VariableFont_wght.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    
        /* Apply the 'Teachers' font to all text elements */
        body, input, select, button, option {
            font-family: 'Teachers', sans-serif;
        }
    </style>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="mb-8 md:mb-0">
                <img class="w-48 h-auto mb-6" src="../../../public/img/AIO Negativo (1).png" alt="AIO Logo" />
                <div class="space-y-4">
                    <div class="flex items-center">
                        <img class="w-8 h-8 mr-4" src="../../../public/img/InstagramLogo.png" alt="Instagram" />
                        <span class="text-lg font-bold font-['Teachers']">@Aiotalleres</span>
                    </div>
                    <div class="flex items-center">
                        <img class="w-8 h-8 mr-4" src="../../../public/img/XLogo.png" alt="Twitter" />
                        <span class="text-lg font-bold font-['Teachers']">@Aiotalleres</span>
                    </div>
                    <div class="flex items-center">
                        <img class="w-8 h-8 mr-4" src="../../../public/img/TelefonoLogo.png" alt="Teléfono" />
                        <span class="text-lg font-bold font-['Teachers']">+598 99 123 456</span>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 h-64 md:h-72">
                <div id="map" class="w-full h-full rounded-lg"></div>
            </div>
        </div>
    </div>
</footer>
      <script>
        function initMap() {
          const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -34.8730391, lng: -56.1719804 },
            zoom: 20,
          });
        }
      </script>
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=initMap"
        async
      ></script>