<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="AIO taller mecanico en montevideo, Estacionamiento 24 horas y mas">
    <meta name="keywords" content="Taller mecanico, taller mecanico montevideo, taller mecanico cerca de mi, estacionamiento 24 horas, venta de neumaticos">
    <meta name="author" content="All In One">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIO - Taller, neumáticos, reservas y más</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('ico/logo-positivo.ico') }}">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        @font-face {
            font-family: 'Teachers';
            src: url("{{ asset('font/Teachers-VariableFont_wght.ttf') }}");
            font-weight: normal;
            font-style: normal;
        }
    
        body, input, select, button, option {
            font-family: 'Teachers', sans-serif;
        }

        .btn{
            background-color: #dc2626;
            text: white;
        }

        .btn:hover{
            background-color: #b91c1c;
            text: white;
        }
    </style>
</head>

{% include 'partials/headerCajero.html.twig' %}

<body>
    <main class="min-h-screen bg-white p-4">
        <div class="max-w-7xl mx-auto space-y-6">
            <section class="flex flex-col items-center justify-center p-8 rounded-2xl border border-neutral-900 bg-neutral-50 min-h-[300px] w-full">
                <h1 class="text-2xl md:text-4xl text-neutral-900 mb-8 text-center font-bold">Pagina de orden</h1>
                <a href="#" class="btn flex items-center justify-center w-full md:w-[600px] px-4 py-6 text-xl md:text-3xl font-bold rounded-xl text-white transition-colors duration-300">
                    Ingresar
                </a>
            </section>
        </div>
    </main>
</body>

{% include 'partials/footer.html.twig' %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const archivoTraduccionHeader = "{{ asset('traductions/header.json') }}";
        const archivoTraduccionHome = "{{ asset('traductions/.json') }}";
        inicializarTraduccion(archivoTraduccionHeader, archivoTraduccionHome, 'es');
    });
</script>
</html>