<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <div class="w-[1444px] h-[3384px] bg-white flex-col justify-between items-center inline-flex">
        <div class="self-stretch h-[703px] flex-col justify-center items-center gap-[5px] flex">
          <div class="self-stretch h-[118px] bg-neutral-200 flex-col justify-center items-center flex">
            <div class="self-stretch h-[118px] p-2.5 justify-center items-center gap-[117px] inline-flex">
              <div class="w-[166px] h-[78px] justify-center items-center flex">
                <img class="w-[166px] h-[78px]" src="https://via.placeholder.com/166x78" />
              </div>
              <div class="h-[29px] px-5 justify-around items-center flex">
                <div class="text-black text-2xl font-bold font-['Teachers']">Servicios Mecanicos</div>
                <div class="text-black text-2xl font-bold font-['Teachers']">Parking</div>
                <div class="text-black text-2xl font-bold font-['Teachers']">Mis Reservas</div>
                <div class="text-black text-2xl font-bold font-['Teachers']">Productos Destacados</div>
                <div class="text-black text-2xl font-bold font-['Teachers']">FAQ</div>
              </div>
            </div>
          </div>
          <div class="h-[580px] py-4 bg-white flex-col justify-center items-center gap-2 flex">
            <div class="w-[1440px] h-[500px] relative">
              <img class="w-[1440px] h-[500px] left-0 top-0 absolute blur-[3px]" src="https://via.placeholder.com/1440x500" />
              <div class="left-[443px] top-[221px] absolute text-white text-5xl font-bold font-['Teachers']">Servicios de neumaticos</div>
              <div class="w-[142px] h-[27px] left-[648px] top-[322px] absolute text-white text-[28px] font-bold font-['Teachers']">Saber mas</div>
            </div>
            
            
          </div>
        </div>
        <div class="w-[1273px] h-[1100px] flex-col justify-start items-start gap-[33px] flex">
          <div class="self-stretch h-[574px] px-[66px] pt-[116px] pb-[109px] bg-neutral-50 rounded-[21px] border border-black flex-col justify-center items-center gap-[35px] flex">
            <div class="w-[402px] h-[204px] justify-center items-center inline-flex">
              <img class="w-[402px] h-[204px]" src="https://via.placeholder.com/402x204" />
            </div>
            <div class="w-[675px] text-center text-[#161212] text-[32px] font-semibold font-['Teachers']">AIO PARKING es nuestro servicio de parking inteligente.<br/>Clickea debajo para reservar una plaza</div>
            <div class="w-[712px] h-[90px] px-7 py-2.5 bg-[#1f3de0] rounded-[10px] justify-center items-center gap-1.5 inline-flex">
              <div class="text-neutral-50 text-[32px] font-bold font-['Teachers'] leading-[51.78px]">AIO PARKING</div>
            </div>
          </div>
          <div class="self-stretch h-[493px] px-[66px] pt-[116px] pb-[109px] bg-neutral-50 rounded-[21px] border border-black flex-col justify-center items-center gap-[22px] flex">
            <div class="text-[#161212] text-[42px] font-bold font-['Teachers']">¿Ya reservaste?</div>
            <div class="w-[444px] text-center text-[#161212] text-[32px] font-medium font-['Teachers']">Si ya reservaste accede a nuestro apartado de “Mis reservas”</div>
            <div class="w-[712px] h-[90px] px-7 py-2.5 bg-[#950d03] rounded-[10px] justify-center items-center gap-1.5 inline-flex">
              <div class="text-neutral-50 text-[32px] font-bold font-['Teachers'] leading-[51.78px]">Mis reservas</div>
            </div>
          </div>
        </div>
        <div class="w-[1273px] h-[831px] py-[19px] bg-neutral-50 rounded-[21px] border border-black flex-col justify-start items-center gap-5 flex">
          <div class="self-stretch h-[31px] text-center text-[#161212] text-[42px] font-semibold font-['Teachers']">Productos destacados</div>
          <div class="w-[1273px] h-[688px] p-2.5 flex-col justify-start items-center gap-[21px] flex">
            <div class="self-stretch h-[584px] p-2.5 justify-center items-center gap-2.5 inline-flex">
              <div class="w-[300px] h-[548px] pb-[42.38px] flex-col justify-start items-center inline-flex">
                <img class="w-[300px] h-[391.43px]" src="https://via.placeholder.com/300x391" />
                <div class="w-[220px] h-[114.33px] text-center text-[#161212] text-2xl font-bold font-['Teachers'] leading-[28.80px]">Cubierta Pirelli 175/70 <br/>R14 Scorpion Atr<br/></div>
              </div>
              <div class="w-[300px] h-[548px] pb-[50px] flex-col justify-start items-start gap-[0.35px] inline-flex">
                <img class="w-[300px] h-[417.65px]" src="https://via.placeholder.com/300x418" />
                <div class="w-[300px] h-20 text-center text-[#161212] text-2xl font-bold font-['Teachers'] leading-[28.80px]">Neumático Bridgestone Ecopia EP150 P 185/55R16 83 V<br/></div>
              </div>
              <div class="w-[300px] h-[548px] pb-[17px] flex-col justify-start items-start inline-flex">
                <img class="w-[300px] h-[424.46px]" src="https://via.placeholder.com/300x424" />
                <div class="w-[300px] h-[107px] text-center text-[#161212] text-2xl font-bold font-['Teachers'] leading-[28.80px]">Cubierta Pirelli 205/55 R16 91w Run Flat P7 Cinturato<br/></div>
              </div>
              <div class="w-[300px] h-[548px] pb-[58.15px] flex-col justify-start items-start gap-[0.36px] inline-flex">
                <img class="w-[300px] h-[430.35px]" src="https://via.placeholder.com/300x430" />
                <div class="w-[300px] h-[59.14px] text-center text-[#161212] text-2xl font-bold font-['Teachers'] leading-[28.80px]">Aceite para motor Motul sintético 5W-40 </div>
              </div>
            </div>
            <div class="w-[362px] h-[73px] px-7 py-2.5 bg-[#8b7272] rounded-[7px] justify-center items-center gap-1.5 inline-flex">
              <div class="text-neutral-50 text-[32px] font-bold font-['Teachers'] leading-[51.78px]">Ver todos</div>
            </div>
          </div>
        </div>
        <div class="self-stretch h-[556px] px-[51px] py-[57px] bg-[#514e4e] justify-center items-center gap-[459px] inline-flex">
          <div class="w-[360px] h-[363px] flex-col justify-between items-center inline-flex">
            <div class="w-[310px] h-36 justify-center items-center inline-flex">
              <img class="w-[310px] h-36" src="https://via.placeholder.com/310x144" />
            </div>
            <div class="self-stretch h-[219px] px-3 py-3.5 flex-col justify-center items-start gap-[19px] flex">
              <div class="justify-start items-center gap-[19px] inline-flex">
                <img class="w-[50px] h-[50px]" src="https://via.placeholder.com/50x50" />
                <div class="text-center text-white text-2xl font-bold font-['Teachers'] leading-[28.80px]">@Aiotalleres</div>
              </div>
              <div class="justify-start items-center gap-[19px] inline-flex">
                <img class="w-[45px] h-[45px]" src="https://via.placeholder.com/45x45" />
                <div class="text-center text-white text-2xl font-bold font-['Teachers'] leading-[28.80px]">@Aiotalleres</div>
              </div>
              <div class="justify-start items-center gap-[19px] inline-flex">
                <img class="w-[45px] h-[45px]" src="https://via.placeholder.com/45x45" />
                <div class="text-center text-white text-2xl font-bold font-['Teachers'] leading-[28.80px]">+598 99 123 456</div>
              </div>
            </div>
          </div>
          <img class="w-[501px] h-[274px]" src="https://via.placeholder.com/501x274" />
        </div>
      </div>
</body>
</html>