<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="icon" type="image/x-icon" href="../../../public/ico/logo-positivo.ico">
    <style>
        @font-face {
            font-family: 'Teachers';
            src: ('sigae/public/font/Teachers-VariableFont_wght.ttf') ;
            font-weight: normal;
            font-style: normal;
        }
    
        body, input, select, button, option {
            font-family: 'Teachers', sans-serif;
        }
    </style>
</head>
<body>
    <iframe src="../contents/headerParking.html" class="w-screen"></iframe>
<!--CAMBIAR TIPOGRAFIA-->
    <div class="w-[1440px] h-[839px] px-[97px] pt-[45px] pb-[54px] bg-white flex-col justify-start items-center gap-[61px] inline-flex">
        <div class="w-[896px] h-[46px] px-[153px] py-[13px] bg-[#d9d9d9] rounded-[10px] border border-[#c5b8b8] justify-center items-center gap-2.5 inline-flex">
            <img class="w-[30px] h-[100px]" src="https://via.placeholder.com/30x100" />
            <div class="text-center text-black text-base font-medium font-['Teachers']">Piso 1</div>
            <img class="w-[30px] h-[100px]" src="https://via.placeholder.com/30x100" />
        </div>
        <div class="w-[27px] h-[27px] relative"></div>
        <div class="w-[896px] h-[359px] px-[66px] bg-white border border-black flex-col justify-center items-start gap-2.5 flex">
            <div class="w-[800px] h-20 justify-start items-center inline-flex">
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="self-stretch text-center text-[#161212] text-[13px] font-black ">A1</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="self-stretch text-center text-[#161212] text-[13px] font-black ">A2</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="self-stretch text-center text-[#161212] text-[13px] font-black ">A3</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="self-stretch text-center text-[#161212] text-[13px] font-black ">A4</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="self-stretch text-center text-[#161212] text-[13px] font-black ">A5</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="self-stretch text-center text-[#161212] text-[13px] font-black  ">A6</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="self-stretch text-center text-[#161212] text-[13px] font-black  ">A7</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="self-stretch text-center text-[#161212] text-[13px] font-black font-['Inter']">A8</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="self-stretch text-center text-[#161212] text-[13px] font-black font-['Inter']">A9</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A10</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="w-7 text-center text-[#161212] text-[13px] font-black font-['Inter']">A11</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="w-7 text-center text-[#161212] text-[13px] font-black font-['Inter']">A12</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="w-7 text-center text-[#161212] text-[13px] font-black font-['Inter']">A13</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="w-7 text-center text-[#161212] text-[13px] font-black font-['Inter']">A14</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="w-7 text-center text-[#161212] text-[13px] font-black font-['Inter']">A15</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="w-7 text-center text-[#161212] text-[13px] font-black font-['Inter']">A16</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A17</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="w-7 text-center text-[#161212] text-[13px] font-black font-['Inter']">A18</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A19</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black flex-col justify-center items-center gap-2.5 inline-flex">
                    <div class="w-[30px] text-right text-[#161212] text-[13px] font-black font-['Inter']">A20</div>
                </div>
            </div>
            <div class="w-[422px] justify-center items-center gap-0.5 inline-flex">
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-center items-center gap-2.5 flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A21</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-center items-center gap-2.5 flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A22</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-center items-center gap-2.5 flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A23</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-center items-center gap-2.5 flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A24 </div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-center items-center gap-2.5 flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A25</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-center items-center gap-2.5 flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A26</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-center items-center gap-2.5 flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A27</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-center items-center gap-2.5 flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A28</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-center items-center gap-2.5 flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A29</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-center items-center gap-2.5 flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A30</div>
                </div>
            </div>
            <div class="w-[108px] h-[85px] relative border-l border-r border-t border-black"></div>
            <div class="w-[803px] h-[79px] justify-start items-center inline-flex">
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A31</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A32</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A33</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A34</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A35</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A36</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A37</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A38</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A39</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A40</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-7 text-center text-[#161212] text-[13px] font-black font-['Inter']">A41</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-7 text-center text-[#161212] text-[13px] font-black font-['Inter']">A42</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A43</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A44</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A45</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A46</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A47</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A48</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-center text-[#161212] text-[13px] font-black font-['Inter']">A49</div>
                </div>
                <div class="w-10 h-20 px-1 py-[17px] border-l border-black justify-between items-center flex">
                    <div class="w-[30px] text-right text-[#161212] text-[13px] font-black font-['Inter']">A50</div>
                </div>
            </div>
        </div>
        <div class="w-[388px] h-[79px] justify-between items-center inline-flex">
            <div class="w-[340px] h-[62px] px-[23px] py-[9px] justify-start items-center gap-2.5 flex">
                <div class="w-[340px] h-[62px] justify-center items-center flex">
                    <div class="w-[340px] h-[62px] px-7 py-2.5 bg-[#950d03] rounded-lg justify-center items-center gap-1.5 inline-flex">
                        <div class="text-neutral-50 text-[32px] font-bold font-['Teachers'] leading-[51.78px]">Continuar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>