<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>
<header class="bg-neutral-200">
    <div class="container mx-auto px-4 py-4">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="w-40 h-auto mb-4 md:mb-0">
                <img class="w-full h-auto" src="../../../public/img/AIO Parking positivo.png" alt="AIO Logo" />
            </div>
            <nav class="flex flex-wrap justify-center md:justify-end space-x-4">
                <a href="#" class="text-black text-lg md:text-xxl text-[30px] font-semibold font-['Teachers']">Reservar</a>
                <a href="#" class="text-black text-lg md:text-xxl text-[30px] font-semibold font-['Teachers']">Reservar a largo plazo</a>
                <a href="#" class="text-black text-lg md:text-xxl text-[30px] font-semibold font-['Teachers']">Mis Reservas</a>
                <a href="#" class="text-black text-lg md:text-xxl text-[30px] font-semibold font-['Teachers']">FAQ</a>
            </nav>
            <img class="w-10 h-10 mt-4 md:mt-0" src="../../../public/img/user.png" alt="User">
        </div>
    </div>
</header>
<body>
    <div class="w-full pl-0.5 pt-[10px]  bg-white flex-col justify-start items-center gap-[39px] inline-flex">
     
        <div class="w-[980px] h-[543px] px-[25px] pt-[41px] pb-[29px] bg-[#b4bef5] rounded-[14px] border border-black flex-col justify-center items-center gap-2.5 flex">
          <div class="w-[516px] text-black text-[32px] font-bold font-['Teachers'] leading-[51.78px]">Haz tu reserva en 3 simples pasos</div>
          <div class="w-[774px] px-[18px] py-3 justify-between items-center inline-flex">
            <div class="w-[342px] text-black text-2xl font-bold font-['Teachers'] leading-[28.80px]">Ingresa fecha, hora y tu <br/>tipo de vehículo</div>
            <div class="w-[90px] h-[90px] relative">
                <img class="w-[90px] h-[90px]" src="../../../public/svg/Component 7.svg"></img>
            </div>
          </div>
          <div class="w-[774px] px-[18px] py-[23px] justify-between items-center inline-flex">
            <div class="w-[303px] text-black text-2xl font-bold font-['Teachers'] leading-[28.80px]">Elige la plaza que te resulte más adecuada</div>
            <div class="w-[90px] h-[90px] relative">
                <img class="w-[90px] h-[90px]" src="../../../public/svg/BuscarVector.svg"></img>
            </div>
          </div>
          <div class="w-[774px] p-2.5 justify-between items-center inline-flex">
            <div class="w-[324px] text-black text-2xl font-bold font-['Teachers'] leading-[28.80px]">Confirma el pedido y ¡listo!</div>
            <div class="w-[80px] h-[80px] relative">
                <img class="w-[80px] h-[80px]" src="../../../public/svg/Check.svg"></img>
            </div>
          </div>
          <div class="w-[388px] h-[79px] justify-between items-center inline-flex">
            <div class="w-[302px] h-[59px] px-[23px] py-[9px] justify-start items-center gap-2.5 flex">
              <div class="w-[302px] h-[59px] justify-center items-center flex">
                <div class="w-[302px] h-[59px] px-7 py-2.5 bg-[#950d03] rounded-lg justify-center items-center gap-1.5 inline-flex">
                  <div class="text-neutral-50 text-[32px] font-bold font-['Teachers'] leading-[51.78px]">Reservar</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-[980px] h-[458px] px-[25px] pt-[41px] pb-[29px] bg-[#b4bef5] rounded-[14px] border border-black flex-col justify-center items-center gap-[60px] flex">
          <div class="w-[808px] text-center text-[#161212] text-[32px] font-bold font-['Teachers'] leading-[51.78px]">¿Te vas de viaje y no sabes donde dejar tu vehículo?</div>
          <div class="w-[534px] text-center text-[#161212] text-[28px] font-semibold font-['Teachers'] leading-[33.60px]">En AIO ofrecemos servicio de parking a largo plazo, clickea debajo para reservar una plaza.</div>
          <div class="w-[388px] h-[79px] justify-between items-center inline-flex">
            <div class="w-[302px] h-[59px] px-[23px] py-[9px] justify-start items-center gap-2.5 flex">
              <div class="w-[302px] h-[59px] justify-center items-center flex">
                <div class="w-[302px] h-[59px] px-7 py-2.5 bg-[#950d03] rounded-lg justify-center items-center gap-1.5 inline-flex">
                  <div class="text-neutral-50 text-[32px] font-bold font-['Teachers'] leading-[51.78px]"> Reservar </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="w-screen bg-[#514e4e] text-white py-12">
            <div class="container mx-auto px-4">
                <div class="flex flex-col md:flex-row justify-between items-center">
                    <div class="mb-8 md:mb-0">
                        <img class="w-48 h-auto mb-6" src="../../../public/img/AIO Negativo (1).png" alt="AIO Logo" />
                        <div class="space-y-4">
                            <div class="flex items-center">
                                <img class="w-8 h-8 mr-4" src="../../../public/img/InstagramLogo.png" alt="Instagram" />
                                <span class="text-lg font-bold font-['Teachers']">@Aiotalleres</span>
                            </div>
                            <div class="flex items-center">
                                <img class="w-8 h-8 mr-4" src="../../../public/img/XLogo.png" alt="Twitter" />
                                <span class="text-lg font-bold font-['Teachers']">@Aiotalleres</span>
                            </div>
                            <div class="flex items-center">
                                <img class="w-8 h-8 mr-4" src="../../../public/img/TelefonoLogo.png" alt="Teléfono" />
                                <span class="text-lg font-bold font-['Teachers']">+598 99 123 456</span>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 h-64 md:h-72">
                        <div id="map" class="w-full h-full rounded-lg"></div>
                    </div>
                </div>
            </div>
        </footer>
              <script>
                function initMap() {
                  const map = new google.maps.Map(document.getElementById("map"), {
                    center: { lat: -34.8730391, lng: -56.1719804 },
                    zoom: 20,
                  });
                }
              </script>
              <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=initMap"
                async
              ></script>
      </div>
</body>
</html>