<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <style>
        @font-face {
            font-family: 'Teachers';
            src: url('sigae/public/font/Teachers-VariableFont_wght.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
      
        body, input, select, button, option {
            font-family: 'Teachers', sans-serif;
        }
    </style>
</head>
<body class="min-h-screen flex flex-col">
    <iframe src="../contents/headerAIO.html" class="w-full"></iframe>
    <div class="flex flex-col md:flex-row items-center justify-between px-4 py-6">
        <div class="mb-4 md:mb-0">
            <a href="homeCliente.html" class="inline-block">
                <img class="w-8 h-8" src="../../../public/svg/icon.svg" alt="Icon">
            </a>
        </div>
        <div class="text-center text-black text-2xl md:text-4xl lg:text-5xl font-semibold">
            Elija un servicio mecánico para poder agendar una reserva
        </div>
    </div> 
        
    <div class="w-full flex-grow flex flex-col">
        <div class="w-full h-[300px] md:h-[400px] lg:h-[487px] flex-col justify-center items-center flex ">
            <div class="h-full w-full justify-center items-center inline-flex relative">
                <img class="w-full h-full object-cover" src="../../../public/img/ImagenNuevaSlider.jpg" alt="Servicio" />
                
                <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
                    <div class="w-full px-4 text-center text-white text-3xl md:text-4xl lg:text-5xl font-semibold mb-4">Alineación</div>
                    <button class="bg-[#950d03] w-full max-w-xs text-center text-white text-2xl md:text-3xl lg:text-4xl font-semibold py-2 px-4 rounded">Reservar</button>
                </div>
            </div>
        </div>
        <div class="w-full h-[300px] md:h-[400px] lg:h-[487px] flex-col justify-center items-center flex ">
            <div class="h-full w-full justify-center items-center inline-flex relative">
                <img class="w-full h-full object-cover" src="../../../public/img/ImagenNuevaSlider.jpg" alt="Servicio" />
                
                <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
                    <div class="w-full px-4 text-center text-white text-3xl md:text-4xl lg:text-5xl font-semibold mb-4">Balanceo</div>
                    <button class="bg-[#950d03] w-full max-w-xs text-center text-white text-2xl md:text-3xl lg:text-4xl font-semibold py-2 px-4 rounded">Reservar</button>
                </div>
            </div>
        </div>
        <div class="w-full h-[300px] md:h-[400px] lg:h-[487px] flex-col justify-center items-center flex ">
            <div class="h-full w-full justify-center items-center inline-flex relative">
                <img class="w-full h-full object-cover" src="../../../public/img/ImagenNuevaSlider.jpg" alt="Servicio" />
                
                <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
                    <div class="w-full px-4 text-center text-white text-3xl md:text-4xl lg:text-5xl font-semibold mb-4">Servicios neumaticos</div>
                    <button class="bg-[#950d03] w-full max-w-xs text-center text-white text-2xl md:text-3xl lg:text-4xl font-semibold py-2 px-4 rounded">Reservar</button>
                </div>
            </div>
        </div>
        <div class="w-full h-[300px] md:h-[400px] lg:h-[487px] flex-col justify-center items-center flex ">
            <div class="h-full w-full justify-center items-center inline-flex relative">
                <img class="w-full h-full object-cover" src="../../../public/img/ImagenNuevaSlider.jpg" alt="Servicio" />
                
                <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
                    <div class="w-full px-4 text-center text-white text-3xl md:text-4xl lg:text-5xl font-semibold mb-4">Diagnostico</div>
                    <button class="bg-[#950d03] w-full max-w-xs text-center text-white text-2xl md:text-3xl lg:text-4xl font-semibold py-2 px-4 rounded">Reservar</button>
                </div>
            </div>
        </div>
        <div class="w-full h-[300px] md:h-[400px] lg:h-[487px] flex-col justify-center items-center flex ">
            <div class="h-full w-full justify-center items-center inline-flex relative">
                <img class="w-full h-full object-cover" src="../../../public/img/ImagenNuevaSlider.jpg" alt="Servicio" />
                
                <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
                    <div class="w-full px-4 text-center text-white text-3xl md:text-4xl lg:text-5xl font-semibold mb-4">Servicio completo</div>
                    <button class="bg-[#950d03] w-full max-w-xs text-center text-white text-2xl md:text-3xl lg:text-4xl font-semibold py-2 px-4 rounded">Reservar</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="w-full bg-[#514e4e] text-white py-8 md:py-12">
        <div class="container mx-auto px-4">
            <div class="flex flex-col md:flex-row justify-between items-center">
                <div class="mb-8 md:mb-0 text-center md:text-left">
                    <img class="w-36 md:w-48 h-auto mb-6 mx-auto md:mx-0" src="../../../public/img/AIO Negativo (1).png" alt="AIO Logo" />
                    <div class="space-y-4">
                        <div class="flex items-center justify-center md:justify-start">
                            <img class="w-6 h-6 md:w-8 md:h-8 mr-4" src="../../../public/img/InstagramLogo.png" alt="Instagram" />
                            <span class="text-base md:text-lg font-bold">@Aiotalleres</span>
                        </div>
                        <div class="flex items-center justify-center md:justify-start">
                            <img class="w-6 h-6 md:w-8 md:h-8 mr-4" src="../../../public/img/XLogo.png" alt="Twitter" />
                            <span class="text-base md:text-lg font-bold">@Aiotalleres</span>
                        </div>
                        <div class="flex items-center justify-center md:justify-start">
                            <img class="w-6 h-6 md:w-8 md:h-8 mr-4" src="../../../public/img/TelefonoLogo.png" alt="Teléfono" />
                            <span class="text-base md:text-lg font-bold">+598 99 123 456</span>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 h-64 md:h-72 mt-8 md:mt-0">
                    <div id="map" class="w-full h-full rounded-lg"></div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function initMap() {
          const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -34.8730391, lng: -56.1719804 },
            zoom: 20,
          });
        }
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=initMap"
        async
    ></script>
</body>
</html>